<!DOCTYPE html>
<html>
  <head>
    <title>Shane Moon</title>

    <link href="./public/stylesheets/application.css" rel="stylesheet" type="text/css" />
    <link href="./public/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="./public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="./public/stylesheets/grid.css" rel="stylesheet" type="text/css" />

    <!--<%= yield(:head) %>-->

    <meta name="google-site-verification" content="ycWr58a4P7vCythvW9h29o_SEmQR6SGHeXNrig9GHUY" />
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="./public/javascripts/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="./public/javascripts/jquery-ui.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="./public/javascripts/jquery.youtubepopup.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="./public/javascripts/ContentFlow/contentflow.js"></script>
    <script language="JavaScript" type="text/javascript" src="./public/javascripts/bibtex.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Shane (Seungwhan) Moon, Research Scientist at Facebook Conversational AI. PhD from Carnegie Mellon University.">
    <meta name="keywords" content="Shane, Moon, Seungwhan, Shane Moon, Seungwhan Moon, 문승환, Facebook, CMU, Artificial Intelligence, Machine Learning, Deep Learning">
    <meta name="author" content="Shane (Seungwhan) Moon">

  <link href="./public/stylesheets/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="./public/javascripts/jquery.qtip.min.js"></script>
  <!--<%= csrf_meta_tag %>-->

  </head>
  <body>
    <header id='header'>
      <div class="main">
        <div class="border-top">
          <div class="wrapper">
            <h1><a href="/"> Shane Moon </a></h1>
            <nav>
              <ul class="menu">
                <li id='li_about'><a href='/'>About</a></li>
                <!--
                <li id='li_work'><a href='<%=work_index_path%>'>Work</a></li>
                <li id='li_projects'><a href='<%=project_index_path%>'>Research & Projects</a></li>
                -->
                <!--<li id='li_music'><a href='<%=musics_path%>'>Music</a></li>-->
                <!--<li id='li_photography'><a href='<%=galleries_work_path%>'>Photography</a></li>-->
                <li id='li_photography'><a href='https://wanderingmoons.studio'>Photography</a></li>
                <!--<li id='li_travel'><a href='<%=galleries_path%>'>Travel</a></li>-->
                <!--<li class='last-item' id='li_contacts'><a href='<%=contact_index_path%>'>Contacts</a></li>-->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div id='map_holder'>

    <div id="container">
      <section id="content">
        <div class="main">
          <!-- -->
        </div>
      <div class="block"></div>
    </section>
    </div>

    <div style='margin-top: -30px; margin-bottom: 30px; font-size:12px;'>
      <center></center>
    </div>
  </body>
</html>
